<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings />
    <client>
      <endpoint address="http://localhost" binding="basicHttpBinding"
        bindingConfiguration="" contract="MadNeptun.SoapService.ISoapComunicationService"
        name="SCS" kind="" endpointConfiguration="">
      </endpoint>
      <endpoint address="http://10.0.2.10/LogService.svc" binding="basicHttpBinding"
        bindingConfiguration="" contract="MadNeptun.DistributedSystemManager.AdministratorPanel.LogService.ILogService"
        name="LOG" kind="" endpointConfiguration="">
      </endpoint>
    </client>
    <services>
      <service name="MadNeptun.SoapService.SoapComunicationService">
        <endpoint address="http://localhost" binding="basicHttpBinding"
          bindingConfiguration="" contract="MadNeptun.SoapService.ISoapComunicationService" />
      </service>
      <service name="MadNeptun.DistributedSystemManager.Service.ComunicationService.SystemCommunicationService">
        <endpoint address="http://localhost" binding="basicHttpBinding"
          bindingConfiguration="" contract="MadNeptun.DistributedSystemManager.Service.ComunicationService.ISystemCommunicationService" />
      </service>
    </services>
    <behaviors />
  </system.serviceModel>
  <appSettings>
    <add key="-a" value="Algorithm"/>
    <add key="-n" value="HttpConnectionInterface"/>
    <add key="-c" value="http://10.0.2.10:9090/SoapCommunicationService.svc"/>
    <add key="-i" value="1"/>
    <add key="-p" value="C:\Temp\ExampleConfigFile.xml"/>
    <add key="-h" value="http://10.0.2.10:5000/LogService.svc"/>
    <add key="-d" value="C:\Temp\MadNeptun.ExampleImplementation.dll"/>
    <add key="-s" value="http://10.0.2.10:5500/SystemCommunicationService.svc"/>
  </appSettings>
</configuration>