<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ILogService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:5000/LogService.svc/mex"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILogService"
        contract="Log.ILogService" name="BasicHttpBinding_ILogService" />
    </client>
    <services>
      <!-- This section is optional with the default configuration introduced
         in .NET Framework 4. -->
      <service
          name="MadNeptun.DistributedSystemManager.Service.ComunicationService.SystemCommunicationService">
        <endpoint address=""
                  binding="wsHttpBinding"
                  contract="MadNeptun.DistributedSystemManager.Service.ComunicationService.ISystemCommunicationService" />
        <!-- the mex endpoint is another relative address exposed at 
             http://localhost:8000/SystemCommunicationService/service/mex -->
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <appSettings>
    <add key="-a" value="Algorithm"/>
    <add key="-n" value="HttpConnectionInterface"/>
    <add key="-c" value="HttpConnectionInterface"/>
    <add key="-i" value="1"/>
    <add key="-p" value="C:\Temp\ExampleConfigFile.xml"/>
    <add key="-h" value="http://localhost:5005/LogService.svc"/>
    <add key="-d" value="C:\Temp\MadNeptun.ExampleImplementation.dll"/>
    <add key="" value=""/>
  </appSettings>
</configuration>