<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings />
    <client>
      <endpoint address="http://localhost:5500/SystemCommunicationService.svc" binding="basicHttpBinding"
        bindingConfiguration="" contract="SystemService.ISystemCommunicationService"
        name="SCS">
      </endpoint>
    </client>
    <services>
      <service name="MadNeptun.DistributedSystemManager.AdministratorPanel.LogService.LogService">
        <endpoint address="http://localhost:5000/LogService.svc" binding="basicHttpBinding"
          bindingConfiguration="" contract="MadNeptun.DistributedSystemManager.AdministratorPanel.LogService.ILogService" />
      </service>
    </services>
    <behaviors />
  </system.serviceModel>
  <appSettings>
    <add key="xmlConfigFile" value="AdminPanelConfig.xml"/>
  </appSettings>
</configuration>