<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISoapComunicationService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/SoapComunicationService/service"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISoapComunicationService"
                contract="SoapService.ISoapComunicationService" name="BasicHttpBinding_ISoapComunicationService" />
        </client>
    </system.serviceModel>
</configuration>