<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="HttpComunicationServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4715/HttpComunicationService.asmx"
                binding="basicHttpBinding" bindingConfiguration="HttpComunicationServiceSoap"
                contract="SoapWebservice.HttpComunicationServiceSoap" name="HttpComunicationServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>