<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings />
      <services>
        <service name="MadNeptun.SoapService.SoapComunicationService">
          <endpoint address="http://localhost:9090/SoapCommunicationService.svc"
            binding="basicHttpBinding" bindingConfiguration="" contract="MadNeptun.SoapService.ISoapComunicationService" />
        </service>
      </services>
        <client>
            <endpoint address="http://localhost:9090/SoapCommunicationService.svc"
                binding="basicHttpBinding" bindingConfiguration="" contract="MadNeptun.SoapService.ISoapComunicationService"
                name="" kind="" endpointConfiguration="">
            </endpoint>
        </client>
      <behaviors />
    </system.serviceModel>
</configuration>